/* ruby -v */
/* gem install sass */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:wght@300;400;700&display=swap');

$gray: #303633; /* rgb(48, 54, 51)*/
$lightGray: #f2f2f2;
$green: #8bebcb; /* rgb(139, 232, 203)*/
$pink: #9c7a97; /* rgb(156, 122, 151)*/
$white: #fff;
$headings: 'Source Sans Pro',
sans-serif;
$text: 'Lato',
sans-serif;
$transition: .3s ease;

@mixin btn {
    padding: 10px 40px;
    border: 2px solid $pink;
    color: $pink;
    background: transparent;
    margin-top: 30px;
    border-radius: 10px;
}
@mixin btn-hover {
    border: 2px solid $green;
    cursor: pointer;
    color: $green;
    transition: $transition;
}
@mixin line {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background: $lightGray;
    margin: 50px 0 20px 0;
}
/************************
basic styles
************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $text;
    font-size: 16px;
    color: $gray;
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings;
}

.headings {
    font-size: 2.5rem;
}

.headings::after {
    display: block;
    content: "";
    height: 2px;
    width: 80px;
    background: $pink;
    margin: 20px 0 30px 0;
}

/************************
aside
************************/
aside {
    flex: 1;
    background-image: linear-gradient(rgba(48, 54, 51, .9), rgba(156, 122, 151, .9)), url(img/bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 60px;
    text-align: right;
    @media(max-width:768px) {
        flex: 0 0 100%;
        text-align: center;
        align-items: center;
        padding-right: 0;
        height: 90vh;
    }

    img {
        width: 40%;
        border-radius: 50%;
        border: 5px solid $pink;
    }

    h1 {
        font-weight: 300;
        padding: 30px 0;
        color: $white;

        span {
            color: $green;
            font-weight: 700;
            font-style: italic;
            letter-spacing: 2px;

            &:hover {
                color: $white;
                transition: $transition
            }
        }
    }

    a {
        color: $green;
        margin-left: 20px;
        font-size: 2rem;

        &:hover {
            color: $white;
            transition: $transition;
        }
    }
}

/************************
section
************************/
.main {
    flex: 2;
    padding: 40px;
    height: 100vh;
    overflow: scroll;
    @media(max-width: 768px) {
        flex: 0 0 100%;
        overflow: auto;
    }
    /***  about  ***/
    .about {
        button {
            @include btn;
            &:hover {
                @include btn-hover;
            }
        }
        &::after {
            @include line;
        }
    }
    /***  portfolio  ***/
    .portfolio {
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .col {
                flex: 0 0 48%;
                margin-top: 40px;
                @media(max-width: 768px) {
                    flex: 0 0 100%;
                }
                img {
                    width: 100%;
                    &:hover {
                        opacity: .6;
                        transition: $transition;
                        transform: scale(1.1);
                    }
                }
                h4 {
                    font-size: 1.7rem;
                    color: $pink;
                }
            }
        }
        button {
            @include btn;
            &:hover {
                @include btn-hover;
            }
        }
        &::after {
            @include line;
        }
    }
    /***  footer  ***/
    footer {
        padding-bottom: 40px;
        .row {
            display: flex;
            flex-wrap: wrap;
            form {
                flex: 2;
                display: flex;
                flex-wrap: wrap;
                padding-right: 50px;
                justify-content: space-between;
                input {
                    flex: 0 0 48%;
                    padding: 10px;
                    margin-bottom: 10px;
                    border: none;
                    background: $lightGray;
                }
                textarea {
                    flex: 0 0 100%;
                    padding: 10px;
                    border: none;
                    background: $lightGray;
                    @media(max-width: 768px) {
                        flex: 0 0 100%;
                    }
                }
                button {
                    @include btn;
                    background: $pink;
                    border: 2px solid $pink;
                    color: $white;
                    &:hover {
                        @include btn-hover;
                        background: $green;
                        border: 2px solid $green;
                        color: $white;
                    }
                }
            }
            .contact {
                flex: 1;
                ul {
                    list-style: none;
                    padding-left: 20px;
                    line-height: 2.5;
                    @media(max-width: 768px) {
                        padding-left: 0px;
                        padding: 10px;
                    }
                    li {
                        font-size: 1.2rem;
                        i {
                            color: $pink;
                        }
                    }
                }
            }
        }
    }
}


/************************
R E S P O N S I V E
************************/
//@media(max-width: 768px) {
//    body {
//        flex-wrap: wrap;
//    }
//    aside {
//        flex: 0 0 100%;
//        text-align: center;
//        align-items: center;
//        padding-right: 0;
//        height: 90vh;
//    }
//    .main {
//        flex: 0 0 100%;
//        overflow: auto;
//    }
//}





